---
import HomeScreen from "./screens/HomeScreen.astro";
import StandardGameScreen from "./screens/StandardGameScreen.astro";
import SurvivalScreen from "./screens/SurvivalScreen.astro";
import FlashcardScreen from "./screens/FlashcardScreen.astro";
import ResultsScreen from "./screens/ResultsScreen.astro";
import RevisionScreen from "./screens/RevisionScreen.astro";
import AchievementsScreen from "./screens/AchievementsScreen.astro";

import type { SubjectData } from "../data/subjects/Subject";

interface Props {
    subject: SubjectData;
}

const { subject } = Astro.props;
---

<div class="container">
    <HomeScreen
        subjectName={subject.name}
        description={subject.config.description}
    />
    <StandardGameScreen />
    <SurvivalScreen />
    <FlashcardScreen />
    <ResultsScreen />
    <RevisionScreen />
    <AchievementsScreen />

    <div class="combo-popup" id="comboPopup">
        <div class="combo-text" id="comboText"></div>
    </div>
</div>

<script is:inline define:vars={{ subject }}>
    window.subjectData = subject;
</script>
