---
import "../styles/global.css";

interface Props {
	title: string;
	description: string;
	themeColor?: string;
}

const { title, description, themeColor = "#131313" } = Astro.props;
---

<!doctype html>
<html lang="en">
	<head>
		<meta charset="UTF-8" />
		<meta name="description" content={description} />
		<meta name="viewport" content="width=device-width" />
		<link
			rel="icon"
			type="image/svg+xml"
			href="data:image/svg+xml,<svg xmlns=%22http://www.w3.org/2000/svg%22 viewBox=%220 0 100 100%22><text y=%22.9em%22 font-size=%2290%22>⚡</text></svg>"
		/>

		<meta name="theme-color" content={themeColor} />
		<meta name="generator" content={Astro.generator} />
		<meta
			http-equiv="Cache-Control"
			content="no-cache, no-store, must-revalidate"
		/>
		<meta http-equiv="Pragma" content="no-cache" />
		<meta http-equiv="Expires" content="0" />
		<title>{title}</title>
	</head>
	<body>
		<slot />
	</body>
</html>
